.AddButton > .add_button {
  display: block;
}

.AddButton > .drop_down {
  background-color: #b6caf2;
  border-radius: 0.9rem;
  clear: both;
  margin-top: 2rem;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 99;
}

.AddButton .drop_down .add_stock,
.AddButton .drop_down .add_task {
  display: block;
  width: 6rem;
  box-shadow: none;
}