.Button {
  -webkit-tap-highlight-color: transparent;
  border: none;
  color: white;
  outline: none;
  padding: 0.5rem;
  margin: 0;
  border-width: 0;
  box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.3);
}

.Button.circular {
  width: 1.8rem;
  height: 1.8rem;
  padding: 0;
}

.Button.add {
  background-color: #16b86f;
}

.Button.add:active {
  background-color: #0f804d;
}

.Button.edit {
  background-color: #1647b8;
}

.Button.edit:active {
  background-color: #0f3180;
}

.Button.delete {
  background-color: #b81616;
}

.Button.delete:active {
  background-color: #800f0f;
}

.Button.standalone {
  border-radius: 0.5rem;
}

.Button.top {
  border-radius: 0.5rem 0.5rem 0 0;
}

.Button.right {
  border-radius: 0 0.5rem 0.5rem 0;
}

.Button.bottom {
  border-radius: 0 0 0.5rem 0.5rem;
}

.Button.left {
  border-radius: 0.5rem 0 0 0.5rem;
}

.Button.circular.standalone {
  border-radius: 0.9rem;
}

.Button.circular.top {
  border-radius: 0.9rem 0.9rem 0 0;
}

.Button.circular.right {
  border-radius: 0 0.9rem 0.9rem 0;
}

.Button.circular.bottom {
  border-radius: 0 0 0.9rem 0.9rem;
}

.Button.circular.left {
  border-radius: 0.9rem 0 0 0.9rem;
}