.Clock {
  background-color: black;
  overflow: hidden;
  width: 100%;
  background-image: url("/header_texture.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.Clock .display {
  color: white;
  vertical-align: baseline;
  padding: 1rem;
}

.Clock .display .time {
  font-size: 3rem;
  font-weight: 500;
}

.Clock .display .date {
  margin-left: 1rem;
  font-size: 1.5rem;
}