.Clock {
  background-color: black;
  overflow: hidden;
  width: 100%;
}

.Clock .display {
  color: white;
  vertical-align: baseline;
  padding: 1em;
}

.Clock .display .time {
  font-size: 3em;
}

.Clock .display .date {
  margin-left: 1em;
  font-size: 1.5em;
}