.ListItem {
  align-items: center;
  background-color: white;
  border-radius: 0.5rem;
  border: 0.15rem solid black;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  min-height: 3rem;
  overflow: hidden;
  padding: 0 1rem 0 1rem;
  position: relative;
}

.ListItem.editable {
  padding: 0;
}

.ListItem .item_body {
  height: 100%;
  width: 100%;
  flex: 1 0 0;
}

.ListItem.auto_middle .item_body {
  height: auto;
  width: auto;
}

.ListItem .move_position .move_up,
.ListItem .move_position .move_down,
.ListItem .delete_item {
  display: block;
  margin: 0 0.3rem 0 0.3rem;
  width: 2rem;
  height: 2rem;
  padding: 0;
}

.ListItem .delete_item {
  width: 2rem;
  height: 2rem;
  padding: 0;
  font-size: 1.5em;
}

@media (min-width: 800px) {
  .ListItem {
    font-size: 1.3em;
  }
}