.StockChart .point {
  background-color: black;
  height: 10px;
  position: absolute;
  top: 0;
  width: 10px;
}

.StockChart .inner {
  height: 100%;
  overflow: visible;
  position: relative;
  width: 100%;
}

.StockChart .inner .line {
  background-color: #646464;
  height: 1px;
  position: absolute;
  width: 100%;
}

/* Doesn't look like we have enough resolution to do a candle stick.
.StockChart .inner .bar {
  background-image: url("/bar.png");
  background-position: center;
  background-repeat: repeat-y;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  box-sizing: border-box;
  min-height: 3%;
  position: absolute;
}
*/

.StockChart .inner .candle {
  background-color: black;
  min-height: 3%;
  position: absolute;
}