.StockChart .point {
  background-color: black;
  height: 10px;
  position: absolute;
  top: 0;
  width: 10px;
}

.StockChart .inner {
  height: 100%;
  overflow: visible;
  position: relative;
  width: 100%;
}

.StockChart .inner .line {
  background-color: #646464;
  height: 1px;
  position: absolute;
  width: 100%;
}

.StockChart .inner .bar {
  background-color: black;
  min-height: 3%;
  position: absolute;
}