.TaskListItem .row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.TaskListItem .row .desc {
  flex: 1 1 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.TaskListItem .row .date {
  color: #646464;
  flex: 0 0 1;
}

.TaskListItem .row .date > .date_field {
  margin-left: 1em;
}