.TasksView {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
}

.TasksView .row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.TasksView .row .desc,
.TasksView .row .time {
  overflow: hidden;
  white-space: nowrap;
}

.TasksView .row .desc {
  flex: 1 1 0;
  overflow: hidden;
}

.TasksView .row .date {
  color: #646464;
  flex: 0 0 1;
}

.TasksView .row .date > .date_field {
  margin-left: 1em;
}