.Text.editable {
  -webkit-user-modify:read-write;
  border-bottom: 4px solid;
  border-image-slice: 0 2 4 2;
  border-image-source: url("/text_field_default.png");
  border-left: 2px solid;
  border-right: 2px solid;
  display: inline-block;
  min-width: 3em;
  outline: none;
}

.Text.editable:focus {
  border-image-source: url("/text_field_selected.png");
}