.TextField {
  overflow: hidden;
}

input.TextField.editable {
  -webkit-user-modify:read-write;
  border-bottom: 1px solid #969696;
  border-radius: 0;
  border-width: 0 0 1px 0;
  box-sizing: border-box;
  display: inline-block;
  font-size: 0.9em;
  min-width: 3em;
  outline: none;
  width: 100%;
  padding: 0;
}

.TextField.editable:focus {
  border-bottom: 1px solid #4d4d4d;
}