html, body, #app {
  background-color: white;
  height: 100%;
  margin: 0;
  overflow: hidden;
  width: 100%;
}

.App {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 400;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

.App .contents {
  flex: 1 1 0;
  position: relative;
}

.App .contents .stocks_container,
.App .contents .tasks_container {
  float: none;
  height: 50%;
  position: relative;
  width: 100%;
}

@media (min-width: 800px) {
  .App .contents .stocks_container,
  .App .contents .tasks_container {
    float: left;
    height: 100%;
    width: 50%;
  }
}